# VS Code settings for go
/backend/go/socialnetapp/.vscode/*.*
/backend/go/socialnetapp/profile/cmd/*.exe
/backend/go/socialnetapp/dialogs/cmd/*.exe
/backend/go/socialnetapp/websockets/cmd/*.exe


# VS settings for c#
/backend/cs/SocialNetApp/.vs
/backend/cs/SocialNetApp/Profile/bin
/backend/cs/SocialNetApp/Profile/obj
/backend/cs/SocialNetApp/Common/bin
/backend/cs/SocialNetApp/Common/obj
/backend/cs/SocialNetApp/Common.MQ/bin
/backend/cs/SocialNetApp/Common.MQ/obj
/backend/cs/SocialNetApp/Dialogs/bin
/backend/cs/SocialNetApp/Dialogs/obj
/backend/cs/SocialNetApp/WebSockets/bin
/backend/cs/SocialNetApp/WebSockets/obj
/backend/cs/SocialNetApp/Posts/bin
/backend/cs/SocialNetApp/Posts/obj


#docker
/docker/pgslave
/docker/pgslave2

#frontend
/frontend/socialnetfrontend/node_modules
/frontend/socialnetfrontend/build
/frontend/socialnetfrontend/dist
/frontend/socialnetfrontend/.npmrc
