# VS Code settings for go
/backend/go/socialnetapp/.vscode/*.*
/backend/go/socialnetapp/profile/cmd/*.exe


# VS settings for c#
/backend/cs/SocialNetApp/.vs
/backend/cs/SocialNetApp/Profile/bin
/backend/cs/SocialNetApp/Profile/obj

#csv data
/csvdata
