# VS Code settings for go
/backend/go/socialnetapp/.vscode/*.*
/backend/go/socialnetapp/profile/cmd/*.exe
/backend/go/socialnetapp/dialogs/cmd/*.exe
/backend/go/socialnetapp/posts/cmd/*.exe
/backend/go/socialnetapp/websockets/cmd/*.exe
/backend/go/socialnetapp/counters/cmd/*.exe
/backend/go/socialnetapp/bff/cmd/*.exe


# VS settings for c#
/backend/cs/SocialNetApp/.vs
/backend/cs/SocialNetApp/Profile/bin
/backend/cs/SocialNetApp/Profile/obj
/backend/cs/SocialNetApp/Common/bin
/backend/cs/SocialNetApp/Common/obj
/backend/cs/SocialNetApp/Common.MQ/bin
/backend/cs/SocialNetApp/Common.MQ/obj
/backend/cs/SocialNetApp/Dialogs/bin
/backend/cs/SocialNetApp/Dialogs/obj
/backend/cs/SocialNetApp/WebSockets/bin
/backend/cs/SocialNetApp/WebSockets/obj
/backend/cs/SocialNetApp/Posts/bin
/backend/cs/SocialNetApp/Posts/obj
/backend/cs/SocialNetApp/Bff/bin
/backend/cs/SocialNetApp/Bff/obj
/backend/cs/SocialNetApp/Counters/bin
/backend/cs/SocialNetApp/Counters/obj

/results/diploma/Otus.Diploma/.vs
/results/diploma/Otus.Diploma/Common/bin
/results/diploma/Otus.Diploma/Common/obj
/results/diploma/Otus.Diploma/Common.MQ/bin
/results/diploma/Otus.Diploma/Common.MQ/obj

/results/diploma/Otus.Diploma/Otus.Diploma.Bff/bin
/results/diploma/Otus.Diploma/Otus.Diploma.Bff/obj
/results/diploma/Otus.Diploma/Otus.Diploma.Measure/bin
/results/diploma/Otus.Diploma/Otus.Diploma.Measure/obj


#docker
/docker/pgslave
/docker/pgslave1
/docker/pgslave2

#grafana
/docker/config/grafana

#frontend
/frontend/socialnetfrontend/node_modules
/frontend/socialnetfrontend/build
/frontend/socialnetfrontend/dist
/frontend/socialnetfrontend/.npmrc
